bin
obj
[Dd]ebug
[Rr]elease
*.user
*.suo
.vs/
_ReSharper.*
/GrobExp/packages
Assemblies/GrobExp.Compiler.dll
Assemblies/GrobExp.Compiler.pdb
Assemblies/GrobExp.Mutators.dll
Assemblies/GrobExp.Mutators.pdb
Output/
.cake/*
!.cake/packages.config
